* {
    padding: 0;
    margin: 0;
}

#profile, #about, #education{
    height: 500px;
}

#profile {
    background-color: rgb(34, 57, 58);
}

#profile img {
    margin: 100px auto 20px auto;
    width: 350px;
    height: 300px;
    border-radius: 50%;
}

#profile img:hover {
    transition-property: transform;
    transition-delay: 0.5s;
    transition-duration: 2s;
    transform: rotateY(360deg);
    transition-timing-function: linear;
}

#profile h1 {
    font-size: 45px;
}


#about {
    background-color: rgb(46, 100, 102);
    background-size: cover;
    padding: 30px;
}

ul {
    list-style: none;
    line-height: 45px;
}

.head {
    padding-top: 50px;
    color: white;
}

.content {
    color: white;
    font-size: 20px;
    padding-top: 30px;
}

.ed-img{
    height: 160px;
}